:root {
          --primary: #101223;
          --secondary: #000;
          --mainBg: #101223;
          --gradOne: #FF2424;
          --gradTwo: #FF2424;
          --cardOne: #33343A;
          --cardTwo: #FF2424;
          --linkColor: #C5D0FF;
          --icon: #FF2424;
          --camera: #101223;
          --modalText: #FFFFFF;
          --leaderboardText: #FFFFFF;
          --headerText: #FFFFFF;
          --mainText: #FFFFFF;
          --freeUseText: #0A7D6C;
          --bgFreeUse: #0A7D6C1A;
          --primaryBtnText: #000000;
          --secondaryBtnText: #FFFFFF;
        }